<h2>About Rentsplit</h2>

<div class="row-fluid">
  <span class="span6" style="font-size: 18px; line-height: 24px;">
    <p class="top-space"><strong>Rentsplit</strong> is an application that was initially built in a week by <a href="http://flavors.me/aronh">Aron Hegyi</a>, through the <a href="https://generalassemb.ly/education/web-development-immersive">Web Development Immersive</a> course at <a href="https://generalassemb.ly/">General Assembly</a> San Francisco. Hi mom!</p>

    <p>Get in touch with me via Twitter (<a href="https://twitter.com/aron">@aron</a>), <a href="http://www.linkedin.com/in/aronhegyi">LinkedIn</a>, or what have you.</p>
  </span>
</div>