<div class="container-fluid splash-cover">
  <div class="container">
    <div class="row-fluid">
      <span class="span12">
        <h1 class="heading">Rentsplit</h1>
        <p>All your expense troubles, solved right ... now.</p>
        <%= link_to "Try it now →", new_user_registration_path, :class => "btn btn-large btn-primary" %>
      </span>
    </div>
  </div>
</div>
<div class="container marketing-container">
  <div class="row-fluid">
    <span class="span4">
      <h2 class="heading">No Waste</h2>
      <p>You all got waste? There is none here.</p>
    </span>
    <span class="span4">
      <h2 class="heading">Free for Fee</h2>
      <p>What!?!?</p>
    </span>
    <span class="span4">
      <h2 class="heading">No Nodes.</h2>
      <p>Keep your sanity.</p>
    </span>
  </div>
</div>
<div class="container tagline">
  <div class="row-fluid">
    <span class="span12">
      <p>No dollar left unpaid. Holler.</p>
    </span>
  </div>
</div>