// Place all the styles related to the Bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-prepend .add-on {
  padding: 9px 8px 9px 10px;
  font-size: 18px;
}

.bill-details .header-label {
  width: 180px;
}