 body {
   padding-left: 0;
   padding-right: 0;
   /* No content under the fixed bootstrap header. */
   padding-top: 60px;
   color: #333333;
 }
@media screen and (max-width: 979px) {
   /* No padding needed now */
   body {
      padding-top: 0;
   }
}

 /* Override flat UI btn-mini, which does not change font size appropriately */
 .btn-mini {
   font-size: 10.5px;
 }

 .alert a.close {
   text-decoration: none;
 }

 .top-space {
   margin-top: 20px; 
 }

/* Make rails' default error styling bootstrap-y */
.field_with_errors label {
   background-color: #f2dede;
   border-color: #eed3d7;
   color: #b94a48;
   padding: 8px 35px 8px 14px;
   margin-bottom: 20px;
   text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
   border: 1px solid #eed3d7;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
}


 /* HEADER STUFF */

 .navbar {
   height: 60px;
 }
 .navbar .navbar-inner {
   background: rgba(255, 255, 255, 0.960784);
   border: none;
   height: 60px;
   padding-left: 20px;
   padding-right: 20px;
 }
 .navbar .navbar-inner .image {
   border-radius: 0px;
   margin: 16px 0px 0px 0px;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
   height: 30px;
   width: 30px;
 }
 .navbar .navbar-inner .brand {
   margin: 0px 0px 0px -15px;
   font-weight: bold;
   font-size: 28px;
   color: #333333;
   line-height: 30px;
   letter-spacing: -1px;
   text-decoration: none;
 }
 .navbar .navbar-inner .nav li a {
   line-height: 30px;
 }
 
 .navbar .navbar-inner .nav li.header-welcome-message {
   padding: 14px 15px 17px;
   margin: 2px 2px 2px 0;
   line-height: 30px;
   color: #777777;
   text-shadow: 0 1px 0 #ffffff;
   font-weight: bold;
 }

 a.login-button .caret {
   margin: 15px 5px;
   -webkit-transition: 0.25s;
   -moz-transition: 0.25s;
   -o-transition: 0.25s;
   transition: 0.25s;
 }

 a.login-button:hover .caret {
   border-top-color: #1abc9c;
   -webkit-transition: 0.25s;
   -moz-transition: 0.25s;
   -o-transition: 0.25s;
   transition: 0.25s;
 }

 .login-button-li {
   position: relative;
 }

 .login-button-li .dropdown {
   display: none;
 }
 .login-button-li.show-dropdown .dropdown {
   display: block;
   position: absolute;
   right: 0px;
   top: 70px;
   background: rgba(0,0,0, 0.6);
   padding: 20px;
   border-radius: 5px;
 }
 .login-button-li.show-dropdown .login-button .caret {
   border-top-color: #1abc9c;
 }
 .login-button-li.show-dropdown .login-button {
   color: #1abc9c;
 }



/* APP NAVIGATION */

.app-navigation {
   border-bottom: 1px solid #2C3E50;
}

.app-navigation li.active a, .app-navigation li.active a:hover {
   background: #34495E;
}

.app-navigation a {
   text-decoration: none;
   color: #2C3E50;
}

.app-breadcrumb li.active, .app-breadcrumb a:hover {
   color: #2C3E50;
}

.app-breadcrumb li a {
   color: #2980B9;
}



/* FOOTER STUFF */

 .container-fluid.footer {
   background: #333333;
   padding: 15px 20px;
 }
 .footer .container .row-fluid .span12 .pull-left p {
   font-weight: 300;
   color: #ffffff;
   margin-bottom: 0;
   line-height: 30px;
 }
 .footer .container .row-fluid .span12 .nav {
   margin: 0px;
 }
 .footer .container .row-fluid .span12 .nav li a {
   text-align: center;
   color: #cccccc;
   text-decoration: none;
 }
.footer .container .row-fluid .span12 .nav li a:hover {
   color: #333333;
 }