<div class="container-fluid footer">
  <div class="container">
    <div class="row-fluid">
      <span class="span12">
        <div class="pull-left">
          <p>© 2013 Rentsplit</p>
        </div>
        <ul class="nav nav-pills pull-right">
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <%= link_to "Privacy", pages_privacy_url %>
          </li>
          <li>
            <%= link_to "Terms Of Service", pages_terms_url %>
          </li>
        </ul>
      </span>
    </div>
  </div>
</div>