<div class="container-fluid footer">
  <div class="container">
    <div class="row-fluid">
      <span class="span12">
        <div class="pull-left">
          <p>© 2013 Rentsplit</p>
        </div>
        <ul class="nav nav-pills pull-right">
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Privacy</a>
          </li>
          <li>
            <a href="#">Terms Of Service</a>
          </li>
        </ul>
      </span>
    </div>
  </div>
</div>