<div class="navbar navbar-fixed-top">
      
  <div class="navbar-inner">
    
    <div class="container">

      <%= image_tag "bolt.png", :class => "pull-left image" %>
      <%= link_to "Rentsplit", "/", :class => "brand" %>
      
        <ul class="nav nav-pills pull-right" role="menu">
          <li>
            <%= link_to "Sign Up", new_user_registration_path %>
          </li>
          <li class="login-button-li">
            <a class="login-button" href="#">
              Login
              <b class="caret"></b>
            </a>
            <div class="dropdown">
              <form>
                <input type="email" placeholder="E-mail">
                <input type="password" placeholder="Password">
                <button type="submit" class="btn btn-primary pull-right">Login</button>
              </form>
            </div>
          </li>

        </ul>

    </div>

  </div><!-- End navbar-inner -->

</div>